{
    "rules": {
        "indent": [
            2,
            2
        ],
        "quotes": [
            0,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "key-spacing": [0] 
    },
    "env": {
        "node": true
    }
}
